<div class="card mb-4 text-dark bg-transparent border-light">
    <p class="pt-2">
        ChessTk. Этот текст будет написан в самое ближайшее время.
    </p>
    <pre><code class="python" id="font"><span class="badge float-right text-warning p-0">python</span>
    def main():
    fields = f'{letters}8'
    for index, value in np.ndenumerate(chessboard):
        figure = array[index]
        fields += f'{value}{figure}{sp}{reset}{8 - index[0]}\n{7 - index[0]}' \
            if index[1] == 7 else f'{value}{figure}{sp}'
    print(fields, f'\r{letters}')
    </code></pre>
    <p>

    </p>
</div>
