<div class="card mb-4 text-dark border-light bg-light">
    <p class="pt-2">
    На просторах интернета много споров о том, какой модуль использовать при создании оконного приложения.
    Несомненно PySimpleGUI заслуживает внимания. Домашняя страница модуля
    <a href="https://github.com/PySimpleGUI/PySimpleGUI">здесь</a>.
    Устанавливается командой:
    </p>
    <pre><code class="shell"><span class="badge float-right text-warning p-0">terminal</span>
    pip install PySimpleGUI
    </code></pre>
    <p>

    </p>
    <pre><code class="python"><span class="badge float-right text-warning p-0">python</span>

    </code></pre>
</div>
