asgiref
certifi
chardet
Click
defusedxml
Django==3.0.8
django-allauth
django-ckeditor
django-js-asset
django-recaptcha3
h11
httptools
idna
oauthlib
Pillow
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
urllib3

django-embed-video
